<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENCS3340 - AI - Routing</title>

    <link href="/static/css/map.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

<body>


    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="map"></div>

    <div class="floating">
      <h2 class="title">Route Finder</h2>
      <p>Select the source and destinations cities on the map then select the algorithim properties below to see the magic 🤩</p>
      
      <form action="" id="path_form" >

        <p><span class="bold">Edge Limit</span><br><input type="range" min="30" max="500" value="70" name="cost_limit" class="form-range" id="cost_limit_slider"><span id="cost_limit_label"></span>KM</p>
        
        <small>controls the graph density (eleminate all edges above the limit)</small>

        <p><span class="bold">Source</span><br><input name="src_city" id="src_city" class="tf" type="text" readonly="readonly"></p>
        <p><span class="bold">Destination</span><br><input name="dest_city" id="dest_city" class="tf" type="text" readonly="readonly"></p>

        <p class="bold">Algorithim</p>

        <input type="radio" id="a_star_algo" name="algo" value="astar" checked>
        <label for="a_star_algo">A Star Search</label><br>

        <input type="radio" id="bfs_algo" name="algo" value="bfs">
        <label for="bfs_algo">Breadth-First Search</label><br>

        <input type="radio" id="ucs_algo" name="algo" value="ucs">
        <label for="ucs_algo">Uniform-Cost Search</label><br>

        <input type="radio" id="greedy_algo" name="algo" value="greedy">
        <label for="greedy_algo">Greedy-Best-First Search</label><br>

        <p class="bold">Cost Function</p>

        <input type="radio" id="driving_weight" name="weight" value="driving_cost" checked>
        <label for="driving_weight">Driving Distance</label><br>

        <input type="radio" id="walking_weight" name="weight" value="walking_cost">
        <label for="walking_weight">Walking Distance</label><br>

        <input type="radio" id="aerial_weight" name="weight" value="aerial_cost">
        <label for="aerial_weight">Areial Distance</label><br>
        

        <p class="bold">Heuristic Function</p>

        <input type="radio" id="aerial_heuristic" name="heuristic" value="aerial_heuristic" checked>
        <label for="aerial_heuristic">Aerial Distance</label><br>

        <input type="radio" id="walking_heuristic" name="heuristic" value="walking_heuristic">
        <label for="walking_heuristic">Walking Distance</label><br>


      </form>

      <button class="btn btn-dark mt-2" onclick="OpenPathPopUp()">Generate Path</button>

    </div>

    <div id="pop_up_cont" class="pop_up_cont">

    <div id="path_pop_up" class="pop_up" style="display: none;">
        <h1>Calculated Path</h1>

        <div class="path_message">Path <span id="cost_mode"></span> Cost: <span id="accumulated_cost"></span>m</div>

        <div id="path_data">

          
        </div>

        <div class="other_costs">
          <small>
            <span class="bold" id="other_cost_1_name"></span> 
            <span id="other_cost_1_value"></span>
            m
          </small>
          <small>
            <span class="bold" id="other_cost_2_name"></span> 
            <span id="other_cost_2_value"></span>
            m
          </small>
          <br>
          
          <small onclick="heuristic_table()" class="close_path"> heuristic table </small>

        </div>
        
        <button id="close" onclick="plot_path()" class="send_btn">View On Map</button>

        <div class="close_path" id="close_path">close</div>
    </div>

  </div>

    <script>

      var selected_nodes = [];

    </script>

    <script src="/static/js/main.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2scONCIdEdOkbER45m7RjmftbORjW80&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    


</body>

</html>